.text-purple {
  color: #BA55D3;
}
.bg-mate {
  background-color: #0F0F0F;
}

/*text decoration */
.text-justify {
  text-align: justify;
  text-indent: 2em;
  line-height: 1.6;
}


/* button */
.custom-btn {
  transition: all 0.3s ease-in-out;
} 
.custom-btn:hover {
  background-color: #ffd202;  /* لون ذهبي */
  color: #000 !important;     /* النص أسود */
  transform: scale(1.05);     /* تكبير خفيف */
  box-shadow: 0 0 10px rgba(255, 210, 2, 0.6);
}   
.custom-btn a:hover {
  color: #000 !important;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
